.details__container{
    margin-left: auto;
    margin-right: auto;
}
.details__image{
    object-fit: contain;
    width: 100%;
    border-radius: 7px;
    align-items: center; 
}

.panel-body{
    height: 50%;
}

.overview{
    color: tomato;
    font-size: 20px;
    font-family: Poppins;
}

.about{
    color: #332a88;
    font-weight: 600;
    font-family: Poppins;
    font-size: 18px 
}

.cuisine{
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
}
.bakery{
    text-transform: capitalize;
}

.cost{
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
}

.phone-number{
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
}

.address__header{
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
}

.address{
    margin-top: 100px;
}